# Binaries for programs and plugins
ccliwrapper
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Go workspace file
go.work

# Output folder for example config file
example/bin/*
!example/bin/.gitkeep

# Folders/files for Git and dev environment
.devcontainer
.git
.github
.gitignore
.vscode
